<a href="https://colab.research.google.com/github/Abdul-Hannan96/100-days-of-machine-learning/blob/main/Loops_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### `Problem 1` - Print the following pattern. Write a program to use for loop to print the following reverse number pattern.

```bash
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1
```

In [ ]:
rows=int(input('Enter the rows'))

for i in range(0,rows+1):
  for j in range(rows-i,0,-1):
    print(j,end='')

  print()

Enter the rows5
54321
4321
321
21
1

### `Problem 2`: Print the following pattern.

```bash
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
```

In [ ]:
rows = int(input('enter the rows'))
# in ascending manner
for i in range(1,rows+1):
  for j in range(0,i):
    print('*',end='')
  print()
# in descending manner
for i in range(1,rows):
  for j in range(rows-i,0,-1):
    print('*',end='')
  print()

enter the rows5
*
**
***
****
*****
****
***
**
*

### `Problem 3`:Write a program to pring the following pattern

        *
       * *
      * * *
   * * * * * * *
* * * * * * * * *

In [ ]:
# number of rows*no of blanks->6 on first iteration,5 on second iteration and so on
rows=6

for i in range(1,rows+1):
  print(' '*rows,end='')
  print('* '*i)
  rows=rows-1

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *

### `Problem 4`:Write a program to print the following pattern

1

2 1

3 2 1

4 3 2 1

5 4 3 2 1

In [ ]:
rows=int(input('Enter the numbe rof rows'))

for i in range(1,rows+1):
  for j in range(i,0,-1):
    print(j,end='')
  print()

Enter the numbe rof rows5
1
21
321
4321
54321

### `Problem 5`: Write a Python Program to Find the Sum of the Series till the nth term:<br>
1 + x^2/2 + x^3/3 + â€¦ x^n/n<br>
n will be provided by the user

In [ ]:
x=10
n=5

sum=1
s=''
print('1 +',end='')

for i in range(2,n+1):
  # expression here
  sum=sum+x**i/i
  s=s+'x^{}/{} +'.format(i,i)

print(s[:-1])
print(round(sum,2))

1 +x^2/2 +x^3/3 +x^4/4 +x^5/5
22884.33

### `Problem 6`: The natural logarithm can be approximated by the following

*   List item

*   List item
*   List item


*   List item

series.

**OUtput:
(1/1)*((x-1)/x)^1 +(1/2)*((x-1)/x)^2 +(1/3)*((x-1)/x)^3 +(1/4)*((x-1)/x)^4 +(1/5)*((x-1)/x)^5**

In [ ]:
x=10
n=5

sum=0

s=''

for i in range(1,n+1):
  # expression here
  sum=sum+(1/i)*((x-1)/x)**i
  s=s+'1/{}*((x-1)/x)^{} +'.format(i,i)

print(s[:-1])
print(round(sum,2))

1/1*((x-1)/x)^1 +1/2*((x-1)/x)^2 +1/3*((x-1)/x)^3 +1/4*((x-1)/x)^4 +1/5*((x-1)/x)^5
1.83

### `Problem 7` - Find the sum of the series upto n terms.
Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690. Take the user input and then calculate. And the output style should match which is given in the example.

**Example 1:**

`Input:`
```bash
5
```

`Output:`

```bash
2+22+222+2222+22222
Sum of above series is: 24690
```

In [ ]:
start=2
sum=0

n=int(input('Enter valid integer number'))

for i in range(0,n):
  # condition till even number
  if i<n-1:
    print(start,end='+')

  else:
    print(start)

  # it will add sum and print sum in final result
  sum=sum+start
  # convert number to 22,222
  start=start*10+2

print(sum)

Enter valid integer number5
2+22+222+2222+22222
24690

###`Problem 8`: Write a program to print all the unique combinations of 1,2,3 and 4

`Output`:
```
1 2 3 4
1 2 4 3
1 3 2 4
1 3 4 2
1 4 2 3
1 4 3 2
2 1 3 4
2 1 4 3
2 3 1 4
2 3 4 1
2 4 1 3
.
.
and so on
```

In [ ]:
# --> run to get output
# for i in range(1,5):
#   for j in range(1,5):
#     for k in range(1,5):
#       for l in range(1,5):
#         print(i,j,k,l)

###`Problem 9`: Write a program that will take a decimal number as input and prints out the binary equivalent of the number

In [ ]:
n=int(input("Enter valid integer number"))
binary=[]

for i in range(1,n):
  # convert into binary
  b=n%2
  binary.append(b)
 # absolute numbers 2.2->2 and so on
  n=n//2

for i in binary[::-1]:
  print(i,end=' ')

Enter valid integer number5
0 1 0 1

###`Problem 10`: Write a program that will take 2 numbers as input and prints the LCM and HCF of those 2 numbers

In [ ]:
# LCM
x=int(input('Enter first number'))
y=int(input('Enter second number'))

if x<y:
  greater=x

else:
  greater=y

while True:
  # lcm here
  if(greater%x==0) and (greater%y==0):
    lcm=greater
    break

  greater=greater+1

print(lcm)

Enter first number10
Enter second number15
30

In [ ]:
# HCF
x=int(input('Enter first number'))
y=int(input('Enter second number'))

if x<y:
  smaller=x

else:
  smaller=x

for i in range(1,smaller+1):
  if(x%i==0) and (y%i==0):
     hcf=i




print(hcf)

Enter first number12
Enter second number16
4

### **Problem 11:** Create Short Form from initial character
Given a string create short form ofthe string from Initial character. Short form should be capitalised.

Example:

`Input:`
```
Data science mentorship program
```

`Output:`
```
DSMP
```

In [ ]:
input = 'Data science Mentorship Program'

res=''
for i in input.split():
  short=i[0].upper()
  res=res+short


print(res)

DSMP

###`Problem 12`: Append second string in the middle of first string

`Input:`
```
campusx
data
```
`Output`:

```
camdatapusx
```

In [ ]:

s1 = input('Enter the first string')
s2 = input('Enter the second string')


# adding word between two words
print(s1[0:int(len(s1)/2)]+s2+s1[int(len(s2)/2):])

Enter the first stringcampusx
Enter the second stringdata
camdatampusx

### ``Problem 13``:Given string contains a combination of the lower and upper case letters. Write a program to arrange the characters of a string so that all lowercase letters should come first.

Given:

`str1 = PyNaTive`

Expected Output:

`yaivePNT`

In [ ]:
s='PyNaTive'

upper=''
lower=''

for i in s:
  if i.islower():
    lower=lower+i

  elif i.isupper():
    upper=upper+i

  else:
    pass

print(lower+upper)

yaivePNT

### `Problem 14:`Take a alphanumeric string input and print the sum and average of the digits that appear in the string, ignoring all other characters.

Input:

`hel123O4every093`

Output:

```
Sum: 22
Avg: 2.75
```

In [ ]:
s='hel123O4every093'

sum=0
count=0

for i in s:
  if i.isdigit():
    count=count+1
    sum=sum+int(i)

print('sum',sum)
print('average',round(sum/count,2))

sum 22
average 3.14


### `Problem 15:` Removal of all characters from a string except integers
`Given:`

```
str1 = 'I am 25 years and 10 months old'
```
`Expected Output:`
```
2510
```

In [ ]:
str1 = 'I am 25 years and 10 months old'
res=''

for i in str1:
  if i.isdigit():
    res=res+i

print(res)

2510

### `Problem 16`: Check whether the string is Symmetrical.

**Statement:** Given a string. the task is to check if the string is symmetrical or not. A string is said to be symmetrical if both the halves of the string are the same.

**Example 1:**

`Input`

```bash
khokho
```

`Output`

```bash
The entered string is symmetrical
```

In [ ]:
s = input('enter the string')

for i in s:
  half=int(len(s)/2)
  first_str=s[:half]
  second_str=s[half:]


if first_str==second_str:
    print('String is symmeterical')

else:
    print('String is not symmetrical')

enter the stringmadam
String is not symmetrical

In [ ]:
s = input('enter the string')

for i in s:
    half=int(len(s)/2)
    first_str = s[:half]
    second_str = s[half:]


if first_str==second_str: # if first half is equal to second half
      print('string is symmertrical')
else:
      print('not symmetrical')

enter the stringabab
string is symmertrical

### `Problem 17`: Reverse words in a given String

**Statement:** We are given a string and we need to reverse words of a given string.

**Example 1:**

`Input:`

```bash
geeks quiz practice code
```

`Output:`

```bash
code practice quiz geeks
```

**Example 2:**

`Input:`

```bash
my name is laxmi
```

`Output:`

```bash
laxmi is name my
```

In [ ]:
s = 'code practice quiz geeks'

L=[]

for i in s.split():
  if i not in L:
    L.append(i)

L=L[::-1]
print(" ".join(L))

geeks quiz practice code

### `Problem 18`: Find uncommon words from two Strings.

**Statement:** Given two sentences as strings **A** and **B**. The task is to return a list of all uncommon words. A word is uncommon if it appears exactly once in any one of the sentences, and does not appear in the other sentence. Note: A sentence is a string of space-separated words. Each word consists only of lowercase letters.

**Example 1:**

`Input:`

```bash
A = "apple banana mango"
B = "banana fruits mango"
```

`Output:`

```bash
['apple', 'fruits']
```

In [ ]:
A = "apple banana mango"
B = "banana fruits mango"
L=[]
for i in A.split():
  if i not in B and i not in L:
    L.append(i)

for j in B.split():
  if j not in A and j not in L:
    L.append(i)

print(L)

['apple', 'mango']

### `Problem 19`: Word location in String.

**Statement:** Find a location of a word in a given sentence.

**Example 1:**

`Input:`

```bash
Sentence: We can learn data science through campusx mentorship program.

word: campusx
```

`Output:`

```bash
Location of the word is 7.
```

Note- Don't use index/find functions

In [ ]:
s= 'We can learn data science through campusx mentorship program'

word='campusx'

pos=0
for i in s.split():
  pos=pos+1

  if i==word:
    break

print(pos)

7

### `Problem 20`: Write a program that can remove all the duplicate characters from a string. User will provide the input.

In [ ]:
s = 'aaaabbbbbccccdddeeeeffff'

res=''
for i in s:
  if i not in res:
    res=res+i

print(res)

abcdef